*{
box-sizing:border-box;
margin:0;
padding:0;
}

body{
background:#050505;
color:white;
font-family:"Cairo",sans-serif;
overflow-x:hidden;
}

.intro{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:25px;
background:radial-gradient(circle,#3a2b05,#000);
}

.intro h1{
color:#d4af37;
font-family:"Amiri",serif;
font-size:38px;
margin-bottom:30px;
}

.intro p{
max-width:850px;
font-family:"Amiri",serif;
font-size:22px;
line-height:2.2;
}

.intro span{
color:#d4af37;
margin-top:15px;
}

button{
margin-top:35px;
padding:15px 45px;
border-radius:40px;
border:1px solid #d4af37;
background:transparent;
color:#d4af37;
font-size:18px;
}

.hidden{
display:none;
}

main{
min-height:100vh;
background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.95));
}

.hero{
min-height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:30px;
}

.ring{
font-size:60px;
}

.hero h2{
color:#d4af37;
font-family:"Amiri",serif;
font-size:42px;
}

.hero h1{
font-family:"Amiri",serif;
font-size:55px;
line-height:1.5;
}

.hero h1 span{
color:#d4af37;
}

.welcome{
max-width:650px;
margin-top:30px;
line-height:2;
}

.details{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
padding:40px;
}

.card{
width:330px;
padding:35px;
text-align:center;
background:rgba(255,255,255,.05);
border:1px solid #d4af37;
border-radius:20px;
}

.card h3{
color:#d4af37;
font-size:28px;
}

.card a{
color:#d4af37;
}

.countdown{
text-align:center;
padding:60px 20px;
}

.countdown h2{
color:#d4af37;
}

#timer{
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
}

#timer div{
width:120px;
padding:20px;
background:#111;
border:1px solid #d4af37;
border-radius:15px;
}

#timer span{
display:block;
font-size:35px;
color:#d4af37;
}

footer{
text-align:center;
padding:30px;
color:#d4af37;
}
