*{
‏margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#fbf7ef;
color:#3d3328;
font-family:'Cairo',sans-serif;
overflow-x:hidden;
}


.preloader{
position:fixed;
inset:0;
background:#fbf7ef;
display:flex;
align-items:center;
justify-content:center;
z-index:99;
animation:hideLoader 2s forwards;
}


.gold-ring{
font-size:80px;
animation:rotateRing 2s infinite;
color:#c8a24d;
}


@keyframes hideLoader{
0%,80%{
opacity:1;
}
100%{
opacity:0;
visibility:hidden;
}
}


@keyframes rotateRing{
50%{
transform:translateY(-15px) rotate(10deg);
}
}



.opening{

height:100vh;
display:flex;
align-items:center;
justify-content:center;
position:relative;
padding:20px;

}


.decor{

position:absolute;
width:300px;
height:300px;
border:1px solid rgba(200,162,77,.3);
border-radius:50%;

}


.decor-one{
top:-100px;
right:-100px;
}


.decor-two{
bottom:-100px;
left:-100px;
}



.invitation-card{

background:#fff;
width:90%;
max-width:650px;
padding:60px 35px;
text-align:center;

border:1px solid #c8a24d;
box-shadow:0 20px 60px rgba(0,0,0,.12);

animation:cardShow 2s;

}



@keyframes cardShow{

from{
opacity:0;
transform:translateY(40px);
}

to{
opacity:1;
}

}



.top-symbol{

font-size:50px;
color:#c8a24d;

}



.invitation-card h2{

font-family:'Amiri';
font-size:38px;
color:#b08a3c;

}



.quran{

font-family:'Amiri';
font-size:22px;
line-height:2.5;
margin:25px 0;

}



.invitation-card span{

color:#b08a3c;

}



button{

margin-top:30px;
padding:15px 50px;
border-radius:50px;

background:white;
border:1px solid #c8a24d;

color:#b08a3c;

font-size:18px;

cursor:pointer;

transition:.4s;

}



button:hover{

background:#c8a24d;
color:white;

}



#content{

display:none;

}



.hero{

height:100vh;

display:flex;
align-items:center;
justify-content:center;

flex-direction:column;

text-align:center;

padding:30px;

}



.ornament-line{

height:1px;
width:120px;
background:#c8a24d;
margin:25px;

}



.hero>p:first-child{

font-family:'Amiri';
font-size:45px;
color:#b08a3c;

}



.hero h1{

font-family:'Amiri';
font-size:70px;
line-height:1.7;

}



.hero h1 span{

color:#c8a24d;

}



.welcome{

max-width:700px;
font-size:20px;
line-height:2;
color:#777;

}




.event-section{

display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;

padding:60px 20px;

}



.lux-card{

background:white;

width:340px;

padding:45px;

text-align:center;

border:1px solid rgba(200,162,77,.5);

box-shadow:0 15px 40px rgba(0,0,0,.08);

}



.card-symbol{

font-size:40px;
color:#c8a24d;

}



.lux-card h2{

font-family:'Amiri';
font-size:35px;
color:#b08a3c;

}



.lux-card a{

color:#b08a3c;

}




.countdown-section{

text-align:center;

padding:70px 20px;

}



.countdown-section h2{

font-family:'Amiri';
font-size:45px;
color:#b08a3c;

}



.countdown{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

margin-top:40px;

}



.countdown div{

background:white;

border:1px solid #c8a24d;

padding:25px;

min-width:120px;

}



.countdown strong{

display:block;

font-size:45px;

color:#b08a3c;

}



.countdown span{

color:#777;

}



.music-section{

text-align:center;

padding:30px;

}



footer{

text-align:center;

padding:50px;

font-family:'Amiri';

font-size:25px;

color:#b08a3c;

}



.footer-line{

width:100px;

height:1px;

background:#c8a24d;

margin:auto auto 20px;

}



.small{

font-size:18px;

}



@media(max-width:600px){

.hero h1{

font-size:42px;

}


.hero>p:first-child{

font-size:35px;

}


.quran{

font-size:18px;

}

}
